body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    display: block;
    margin: 8px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    color: Gray;
    font-size: 21px;
    width: 1238px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cta {
    color: Aquamarine;
    font-size: 16px;
}

.footer {
  text-align: right;
}
